<div class="form-froup row">
    <label class="col-sm-2">Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="storename" placeholder="Enter Store Name">
    </div>
    
    <label class="col-sm-2">Info</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="storeinfo" placeholder="Enter Store Info">
    </div>
    
    <label class="col-sm-2">District</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="storedistrict" placeholder="Enter Store District">
    </div>

</div>

<button (click)="addStore()" *ngIf="store.id==0" class="btn btn-primary">Add</button>
<button (click)="updateStore()" *ngIf="store.id!=0" class="btn btn-primary">Update</button>